body {
	//width: @content-width;
}
#page-header {
	padding: 17px 0 0;
	height: 120px;
	background: @cl url(../images/bg/01.png) center;
	.logo {
		a {
			display: block;
			width: 226px;
			height: 82px;
			text-indent: -9999px;
			background: url(../images/logo/01.png) no-repeat;
		}
	}
}
#mainmenu {
	.box-shadow(0 -1px 6px fade(#000,70%));
	position: relative;
	z-index: 999;
	background: #ede6d4;
	background: -moz-linear-gradient(top,  #ede6d4 0%, #dcd5d5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ede6d4), color-stop(100%,#dcd5d5));
	background: -webkit-linear-gradient(top,  #ede6d4 0%,#dcd5d5 100%);
	background: -o-linear-gradient(top,  #ede6d4 0%,#dcd5d5 100%);
	background: -ms-linear-gradient(top,  #ede6d4 0%,#dcd5d5 100%);
	background: linear-gradient(to bottom,  #ede6d4 0%,#dcd5d5 100%);
	&:before{
		position: absolute;
		content: '';
		left: 0;
		top: 100%;
		width: 100%;
		height: 11px;
		background: url(../images/bg/03.png) no-repeat top;
		background-size: 920px 11px;
	}
}
#slideshow {
	position: relative;
	margin: 0 0 40px;
	background: #e1d9d0;
}
#wrapper {
	position: relative;
	padding: 70px 0 55px;
}
#col-main {
	float: left;
	width: 640px;
}
#col-left {
	float: left;
	width: 170px;
}
#col-center {
	float: right;
	width: 440px;
}
#col-right {
	float: right;
	width: 240px;
}
#page-footer {
	.box-shadow(inset 0 0 6px fade(#000,30%));
	background: #f0ece7;
	.copy {
		padding: 28px 0;
		float: left;
		font-size: 14px;
		color: #7a7a7a;
	}
	.xart {
		padding: 30px 0;
		text-transform: uppercase;
		float: right;
		font-size: 11px;
		img {
			float: right;
			margin: 0 0 0 10px;
		}
		a {
			text-decoration: none;
			color: #7a7a7a;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e804';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}