.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 0 0 20px;
		li{
			float: left;
			margin-right: 15px;
			font-size: 14px;
			color: @cl;
			font-weight: 600;
			&:before{
				top: 5px;
				color: #aaa;
				font-weight: normal;
			}
			a {
				color: #aaa;
				font-weight: 300;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-main {
	position: relative;
	margin: -18px 0 0;
	top: 18px;
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			margin: 0 -4px;
			a {
				position: relative;
				display: block;
				line-height: 40px;
				padding: 24px 33px 39px;
				font-size: 15px;
				font-weight: 600;
				line-height: 1;
				white-space: nowrap;
				text-transform: uppercase;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&.act {
				a {
					background: url(../images/bg/02.png) no-repeat bottom;
					background-size: 100% 62px;
				}
			}
		}
	}
}
.mod_custom-slider {
	position: relative;
	padding: 50px 0 0;
	margin: 0 0 -40px;
	&:before{
		position: absolute;
		content: '';
		top: 100%;
		left: 0;
		width: 100%;
		height: 18px;
		background: url(../images/bg/03.png) no-repeat top;
		background-size: 100% 18px;
	}
	ul {
		.rul;
		position: relative;
		height: 260px;
		overflow: hidden;
		li {
			.rli;
			img {
				display: block;
			}
		}
	}
}
.mod_menu-sidebar {
	padding: 4px 0;
	margin: 0 0 30px;
	.mod-title {
		color: @cl;
		line-height: 1.2;
		margin: 0 0 18px;
	}
	ul {
		.rul;
		li {
			.rli;
			line-height: 1.2;
			padding: 0 0 0 13px;
			margin: 0 0 6px;
			&:before{
				top: 6px;
				left: 0;
				content: url(../images/bg/04.png);
			}
			a {
				color: @cp;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-intro {
	line-height: 1.5;
	h1 {
		font-size: 31px;
		line-height: 1.1;
		margin: 0 0 20px;
	}
}
.mod_custom-contact {
	position: relative;
	color: @cl;
	padding: 10px 0 0 40px;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,246,217,0.9) 0%, rgba(255,246,217,0) 69%, rgba(255,246,217,0) 70%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,246,217,0.9)), color-stop(69%,rgba(255,246,217,0)), color-stop(70%,rgba(255,246,217,0))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,246,217,0.9) 0%,rgba(255,246,217,0) 69%,rgba(255,246,217,0) 70%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,246,217,0.9) 0%,rgba(255,246,217,0) 69%,rgba(255,246,217,0) 70%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,246,217,0.9) 0%,rgba(255,246,217,0) 69%,rgba(255,246,217,0) 70%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,246,217,0.9) 0%,rgba(255,246,217,0) 69%,rgba(255,246,217,0) 70%); /* W3C */
	background-repeat: no-repeat;
	background-size: 480px 100%;
	background-position: -240px 0;
	&:before{
		position: absolute;
		content: '';
		top: 0;
		right: 100%;
		width: 16px;
		height: 100%;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(89,71,36,0.1) 0%, rgba(89,71,36,0) 70%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(89,71,36,0.1)), color-stop(70%,rgba(89,71,36,0))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(89,71,36,0.1) 0%,rgba(89,71,36,0) 70%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(89,71,36,0.1) 0%,rgba(89,71,36,0) 70%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(89,71,36,0.1) 0%,rgba(89,71,36,0) 70%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(89,71,36,0.1) 0%,rgba(89,71,36,0) 70%); /* W3C */
		background-repeat: no-repeat;
		background-size: 32px 100%;
	}
	.mod-title {
		.fh;
		font-size: 29px;
		line-height: 1.2;
		margin: 0 0 15px;
	}
	p {
		margin: 0 0 14px;
	}
	.street,.city,.phone,.email {
		position: relative;
		font-size: 15px;
		line-height: 1.2;
		padding: 9px 0;
		background: url(../images/bg/06.png) repeat-x left bottom;
	}
	.city {
		
	}
	.phone,.email {
		padding-left: 25px;
		&:before{
			.fi;
			position: absolute;
			left: 2px;
			top: 8px;
			content: '';
			font-size: 18px;
			line-height: 1;
		}
	}
	.phone {
		&:before{
			content: '\e800';
		}
	}
	.email {
		&:before{
			content: '\e801';
		}
	}
	nav {
		margin: 35px 0 0;
		a {
			display: inline-block;
			line-height: 56px;
			width: 164px;
			color: #fff;
			font-size: 15px;
			text-align: center;
			text-transform: uppercase;
			text-decoration: none;
			background: url(../images/bg/05.png) no-repeat;
			&:hover{
				.box-shadow(0 0 6px fade(@cl,1000%));
			}
		}
	}
}
.mod_menu-footer {
	padding: 34px 0 30px;
	background: url(../images/bg/06.png) repeat-x left bottom;
	ul {
		.rul;
		.clearfix;
		margin: 0 0 0 -47px;
		li {
			.rli;
			float: left;
			font-size: 14px;
			margin: 0 0 0 47px;
			a {
				text-decoration: none;
				color: @cp;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}