.rul{
	margin: 0;
	padding: 0;
}
.rli{
	margin: 0;
	padding: 0;
	background: none;
	&:before{
		content: '';
	}
}
.rin{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: none;
}
.input_format {
	.rin;
	.transition(0.2s);
	position: relative;
	border: 1px solid lighten(@cp,50%);
	border-bottom-color: lighten(@cp,80%);
	border-right-color: lighten(@cp,80%);
	font-size: @fsp;
	margin: 0 3px 5px 0;
	width: 198px;
	height: 30px;
	padding: 0 10px;
	color: @cp;
	background: #fff;
	outline: 0;
	max-width: 100%;
	&:hover,&:focus{
		background: darken(#fff,3%);
	}
}