
.icon-phone-outline:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-left-open-outline:before { content: '\e802'; } /* '' */
.icon-right-open-outline:before { content: '\e803'; } /* '' */
.icon-up-outline:before { content: '\e804'; } /* '' */